<!doctype html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	<!-- Title & Icon -->	
	<title>Discover More</title>
	<link rel="icon" href="https://img.icons8.com/color/48/000000/music-record.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	<!-- Stylesheets & Fonts	 -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" href="../stylesheets/home.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<!-- jQuery	 -->
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous">
	</script>
		
	</head>
	
	<body>
			<div class="text-center">
				<img class='error mt-5' src="../assets/error.svg">
				<h1 class='font-weight-bold mt-5 mb-4 mx-4'>Oops! Uhhh, yeah I don't know what happened there...</h1>
				<p>
					Redirect you to the home page?
				</p>
				<a href='/'><button type="button" class="btn btn-success rounded-pill font-weight-bold mt-1">BACK TO THE HOME PAGE!</button></a>
			</div>
	</body>
	
</html>



