<!doctype html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" href="../stylesheets/home.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous">
	</script>
		
	</head>
	
	<body>
		<div class="row">
			<div class="col-lg-3">
				<a href='https://github.com/RupinderN'><i class="fab fa-github-square fa-5x ml-4 mt-3"></i></a>
				<a href='https://www.linkedin.com/in/rupindernagra/'><i class="fab fa-linkedin ml-2 fa-5x mt-3"></i></a>
			</div>
			<div class="col-lg-6">
				<div class="text-center">
					<img src="../assets/home.svg">
					<h1 class='font-weight-bold display-4'>Discover More</h1>
					<p>
						Find undiscovered artists you would love, based off your favourite ones on Spotify.
					</p>
					<button type="button" class="btn btn-success rounded-pill font-weight-bold mt-2" onclick="window.location.href = 'https://webprojects-rqwyg.run.goorm.io/login';">LOG IN WITH SPOTIFY</button>
				</div>
			</div>
			<div class="col-lg-3">
				<h4 class="mr-5">By Rupinder Nagra</h4>
			</div>
		</div>
	</body>
	
</html>



