<!doctype html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" href="../stylesheets/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous">
	</script>
		
	</head>
	
	<body>
		
		<% data.items.forEach(function(artists){ %>
			<img class="mb-3" src ="<%= artists.images[0].url %>">
		<% }); %>
		
		<h5 class="text-center text-dark">
			Here are your recommendations based on your favourite artists.
		</h5>

		<% console.log(data2.length) %>
		

		<% for(var i = 0; i < data2.length; i++){ %>
			<% data2[i].body.artists.forEach(function(artists){ %>
				<% if(artists.popularity < 65) { %>

					<div class="text-center">
						<img class="mb-4 options" src ="<%= artists.images[0].url %>">
					</div>

					<% console.log(artists.images) %>

				<% } %>
			<% }); %>
		<% } %>

	</body>
	
</html>

