<!doctype html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	<!-- Stylesheets & Fonts	 -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
	<link rel="stylesheet" href="../stylesheets/home.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<!-- jQuery	 -->
	<script
	  src="https://code.jquery.com/jquery-3.4.1.js"
	  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	  crossorigin="anonymous">
	</script>
		
	</head>
	
	<body>
		
		<div class="row">
			<div class="col-lg-3">
				<a href='https://github.com/RupinderN/DiscoverMore'><i class="fab fa-github-square fa-5x ml-4 mt-3"></i></a>
				<a href='https://www.linkedin.com/in/rupindernagra/'><i class="fab fa-linkedin ml-2 fa-5x mt-3"></i></a>
			</div>
			<div class="col-lg-6">
				<div class="text-center">
					<h1 class='font-weight-bold display-4 my-5'>Discover More</h1>
					<h2 class="mb-4 mx-4">How does this app work?</h2>
					<p class='mx-4'>
						This app uses the Spotify API, and runs on a NodeJS backend. It finds your 5 favourite artists in the last 6 months on Spotify, and then uses the ID's of those artists in order to find all of the related artists to them. The app's first design only showed artists under the Spotify popularity of 65, so you would see artists you had never heard of, as the theme of the application was to show undiscovered artists. However, this was changed to instead, showing all recommendations, considering that people are more likely to click undiscovered artists seeing them alongside people that are popular, rather than just showing a bunch of artists you've most likely never heard of. It then displays all these artists on the recommendations page. Check the project out on Github by clicking the icon at the top left!
					</p>
					<a href='/'><button type="button" class="btn btn-success rounded-pill font-weight-bold mt-2 mx-4">BACK TO THE HOME PAGE!</button></a>
					<a href='/login'><button type="button" class="btn btn-success rounded-pill font-weight-bold mt-2 mx-4">BACK TO MY ARTISTS!</button></a>
				</div>
			</div>
			<div class="col-lg-3">
				<h4 class="mr-5 mb-5">By Rupinder Nagra</h4>
			</div>
		</div>
		
	</body>
	
</html>



