body {
	background-color: #f9e4b7;
	font-family: 'Montserrat', sans-serif;
}

img {
	height: 500px;
	width: 500px;
}

button {
	background-color: #1db954 !important;
	font-size: 10px !important;
	height: 5% !important;
	width: 10% !important;
}