body {
	background-color: #f9e4b7;
	font-family: 'Montserrat', sans-serif;
	overflow-x:hidden;
}

img {
	height: 70%;
	width: 60%;
}

button {
	background-color: #1db954 !important;
	font-size: 10px !important;
	height: 5% !important;
	width: 25% !important;
	transition: 0.3s !important;
}

button:hover {
	transition: 0.3s;
	transform: scale(1.1);
}

h4 {
	float: right;
	margin-top: 40px;
}

a { 
	color: inherit; 
	text-decoration: none;
} 

a:hover {
	color: #212529;
}

.error {
	height: 40%;
	width: 40%;
}


