body {
	background-color: #f9e4b7;
	font-family: 'Montserrat', sans-serif;
	overflow-x:hidden;
}

.artist {
	float: left;
	width: 20%;
}

.options {
	width: 20rem;
	height: 300px;
}

.card {
	background: none;
	border: none;
}
